@import "tailwindcss";

body {
  margin: 0;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 !important;
  bottom: 25px !important;
}
.swiper-pagination-bullet {
  width: 60px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background: rgba(255,255,255,0.5) !important;
  margin: 0 !important;
}
.swiper-pagination-bullet-active {
  background: white !important;
}